.event-duplicate:not(:hover) {
    opacity: 0.5;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all ..1s linear;
}
.event-duplicate:hover {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
}
td.tribe-events-present .event-duplicate {
}

/**Settings placeholder**/
